@charset "UTF-8";
main{
    text-align: justify;
    background-color:white;
    width: 650px;
    padding: 10px;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    box-shadow:5px 5px 10px #157575;
}
body{
    background-image: linear-gradient(to bottom ,#22BABB , #348888);

}
h1{
    text-align: center;
    color: #F24405;
    text-shadow:1px 1px 5px #ad3103;
}
h2{
color: #348888;
}